
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Jumbotron Template for Bootstrap</title>
      <link rel="stylesheet" href="/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/CSS/custom.css">
  </head>

  <body>

    <% include ./partials/navbar %>


      <!-- Example row of columns -->
        <%- body -%>




    <% include ./partials/footer %>

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
