<% layout('layout') %>

<div class="jumbotron">
  <div class="container">
    <h1> SHOP SHOP SHOP SHOP </h1>

    <p> Testing line to see the view of website </p>

  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <p>Singup to website </p>

      <h3>Searching here </h3>

    </div>
    <div class="col-md-4">
      <p>Happy buying with us , thank you for coming</p>
      <h3>Searching here </h3>
   </div>
    <div class="col-md-4">
      <p>Happy buying with us , thank you for coming</p>
      <h3>Searching here </h3>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->
